@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
body {
  height: 100%;
}

h1 {
  color: blueviolet;
  margin: 0 auto;
  font-size: 5em;
  text-align: center;
  padding-top: 15vh;
  font-family: "Dancing Script", cursive;
}

#root {
  display: flex;
  justify-content: center;
}
.Pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ui.pagination.menu {
  margin-top: 3em;
  margin-bottom: 3em;
}
.ui.header:first-child {
  margin-top: 1em;
}
